.featured {
    display        : flex;
    width          : 100%;
    justify-content: space-between;
}

.featuredItem {
    flex              : 0.5;
    padding           : 30px;
    border-radius     : 5px;
    margin            : opx 20px;
    margin-right      : 20px;
    -webkit-box-shadow: 0px 0px 5px 0px #000000;
    box-shadow        : 0px 0px 5px 0px #000000;
}

.featuredTitle {
    margin-bottom: 5px;
    font-size    : 18px;

}

.featuredRevenueContainer {
    display    : flex;
    align-items: center;
    padding    : 5px;
    font-size  : 26px;
    font-weight: 500;
}

.since {
    font-size  : 14px;
    font-family: cursive;
}